# Unbedingt durch lange, zufällige Werte ersetzen
SECRET_KEY=BITTE_MIND_32_ZUFALLSZEICHEN_SETZEN
ADMIN_PASSWORD=BITTE_SICHERES_PASSWORT_SETZEN

# Railway Volume z. B. nach /data mounten
DATA_DIR=/data

PAYPAL_EMAIL=topdiveair@gmail.com
SESSION_COOKIE_SECURE=1
FLASK_DEBUG=0
